body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  display: block;


}
#Login {
  background-color: #ffffff;

}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 1.25rem;
  padding-bottom: 2rem;

}
#login-header {
  padding-top: 5rem;
}
#username-input-signin {
  padding: 1.25rem;
}

#password-input-signin {
  padding: 1.25rem;
}

#signup-prompt {
  font-size: 0.75em;
  margin-top: 1em;
  color: grey;
}
#inline-link {
  color: #67c65c;
  text-decoration:underline;
}
#login-button {
  padding: 1.25rem;
}
#signup-prompt {
  padding: 1.25rem;
  padding-bottom: 20rem;
}
#confirmation {
  background-color: #ffffff;
  padding: 20rem;
}
