/*    PAGE SPACING    */
#Home {
  padding-top: 15rem;
  padding-bottom: 25rem;
  background: radial-gradient(ellipse at 125% 0%,#ceec97, #7ceb7c, #5febb9);
}
#About {
  padding-top: 5rem;
  padding-bottom: 20rem;
  background-color: #8a8a8a;
}
#Utility {
  padding-top: 5rem;
  padding-bottom: 20rem;
}
#Pitch {
  padding-top: 5rem;
  padding-bottom: 20rem;
  background-color: rgb(47, 80, 69);
}
#Join {
  padding-top: 5rem;
  padding-top: 20rem;
}


/*    TYPOGRAPHY     */
:root {
  font-family: 'Roboto', sans-serif;
}
#callout {
  font-size: 6rem;
  padding-bottom: 5rem;
}
em {
  color: #ffffff;
  font-style: bold;
  font-size: 1.5rem;
}
h1 {

  color: #ffffff;

  font-size: 2em;
  font-family: 'Roboto', sans-serif;

  font-weight: bold;

  margin: 0;

  padding: 0;
  text-shadow: 2px 2px 10px #00000065;
}
